<div class="content">
  <h1>Register Page</h1>
  <form ng-submit="registerUser()">
    <input type="text" ng-model="userbeingregistered.username" placeholder="Enter username"/>
    <input type="email" ng-model="userbeingregistered.email" placeholder="Enter email"/>
    <input type="password" ng-model="userbeingregistered.password" placeholder="Enter password"/>
    <input type="text" ng-model="userbeingregistered.country" placeholder="Enter country"/>
    <input type="submit" value="Register">
  </form>
</div>
